.songs-page {
  background-color: #141414;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif; }

.songs {
  max-width: 930px;
  background-color: #141414;
  padding: 60px 30px 30px 30px;
  color: #fff; }
