.item-artist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-artist {
  flex-basis: 20%;
  margin-bottom: 20px;
}

.item-artist__cover {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}